{% extends "layout.html" %}
{% block page_content %}
<h2>{{ org_label }}</h2>
{% if current_user.is_authenticated %}
    <br>
    <div class="btn-group">
        <a href="{{ url_for('main.race_add', org_id=org_id) }}" class="btn btn-default">
            Wedstrijd toevoegen
        </a>
        <a href="{{ url_for('main.organization_edit', org_id=org_id) }}" class="btn btn-default">
            Organizatie aanpassen
        </a>
    {% if remove_org is equalto "Yes" %}
        <a href="{{ url_for('main.organization_delete', org_id=org_id) }}" class="btn btn-default">
            Organizatie verwijderen
        </a>
        </div>
    {% else %}
        </div>
        <br>Organizatie verwijderen is enkel mogelijk als er geen wedstrijden bij de organizatie horen.<br>
    {% endif %}
{% endif %}
<div class="row">
    <div class="col-md-6">
        <table class="table table-hover">
            <tr>
                <th>Wedstrijden</th>
                <th>Type</th>
            </tr>
            {% for row in races %}
            <tr>
                <td>
                    <a href="{{ url_for('main.participant_list', race_id=row.race_id, org_id=org_id) }}">
                        {{ row.race}}
                    </a>
                </td>
                <td>
                    {% if current_user.is_authenticated %}
                        {% if row.type is equalto "Hoofdwedstrijd" %}
                            <a href="{{ url_for('main.hoofdwedstrijd_remove', race_id=row.race_id, org_id=org_id) }}">
                        {% endif %}
                        {% if set_hoofdwedstrijd is equalto "Yes" %}
                            <a href="{{ url_for('main.hoofdwedstrijd_set', race_id=row.race_id, org_id=org_id) }}">
                        {% endif %}
                    {% endif %}
                        {{ row.type }}
                    {% if current_user.is_authenticated %}
                        {% if row.type is equalto "Hoofdwedstrijd" %}
                            </a>
                        {% endif %}
                        {% if set_hoofdwedstrijd is equalto "Yes" %}
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
