{% extends "layout.html" %}
{% import "macros.html" as macros with context %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<h2><a href="{{ url_for('main.race_list', org_id=org_id) }}">{{ race_label }}</a></h2>
{% if current_user.is_authenticated %}
    <div class="btn-group">
        <a href="{{ url_for('main.participant_add', race_id=race_id) }}" class="btn btn-default" role="button">
            Uitslag aanpassen
        </a>
        <a href="{{ url_for('main.race_edit', race_id=race_id, org_id=org_id) }}" class="btn btn-default" role="button">
            Wedstrijdlabel aanpassen
        </a>
    {% if finishers is defined %}
    </div>
    <br>Wedstrijd verwijderen is enkel mogelijk als er geen deelnemers meer bij de wedstrijd horen.<br>
    {% else %}
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
            Wedstrijd verwijderen
        </button>
        <!-- Modal code -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">OK om te verwijderen?</h3>
                    </div>
                    <div class="modal-body">
                        <p>Bevestig verwijderen van wedstrijd <strong>{{ race_label }}</strong>!</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('main.race_delete', race_id=race_id) }}" class="btn btn-danger" role="button">
                            Verwijderen
                        </a>
                        <a href="{{ url_for('main.participant_list', race_id=race_id) }}" class="btn btn-warning" role="button">
                            Annuleer
                        </a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    </div>
{% endif %}
<div class="container">
    <div class="row">
        {{ macros.race_finishers(finishers, race_id) }}
    </div>
</div>
{% endblock %}